.scheduler-container {
  margin-top: 50px;
}

.scheduler-container h1 {
  text-align: center;
}

.class-links .btn-link {
  margin: 0 10px;
  text-decoration: none;
  color: white; /* Change link color to white */
}

.class-links .btn-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.table-responsive {
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}

.header-cell {
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  border: none; /* Remove the border */
  padding: 8px;
}

.table-cell {
  background-color: white;
  color: black;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee2e6;
  padding: 8px;
}

.table th,
.table td:first-child {
  background-color: black;
  color: white;
  border: none; /* Remove the border */
}

.table td:first-child {
  border: none; /* Ensure no border on the first column cells */
}