.mt-class-container {
    margin-top: 50px;
  }
  
  .freedom-lbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .freedom-accolades {
    text-align: center;
    margin-top: 20px;
  }
  
  .freedom-accolades h3 {
    font-size: 2rem;
  }
  
  .freedom-accolades p {
    font-size: 1rem;
  }
  
  @media (max-width: 767px) {
    .freedom-lbox,
    .freedom-rbox {
      height: auto; /* Ensure the height adjusts on mobile view */
    }
  }